<p>
<h1>Team Backlog:</h1>

<% @backlog.each do |sprint| %>
<% sprint.stories.each do |story| %>

<div class="story_name"><%= story.name %></div><div class="story_content"><%= story.content.to_s.gsub(/\n/, '<br/>').html_safe %></div>
<% end %>
<% end %>